<!-- ***** About Area Starts ***** -->
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6>About Us</h6>
                        <h2>Unity In Community</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <img src="assets/images/service-item-01.png" alt="">
                                <h4>Ambitious</h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <img src="assets/images/service-item-01.png" alt="">
                                <h4>Ideal</h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <img src="assets/images/contact-info-03.png" alt="">
                                <h4>Solidarity</h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <img src="assets/images/contact-info-03.png" alt="">
                                <h4>Generosity</h4>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="right-text-content">
                    <p>Unity In Community is an advocacy website that promotes unity (Bayanihan) in our community. It shows the importance and significance of Bayanihan in today's time and amidst the ongoing pandemic. Our website is also a testament that the Bayanihan spirit of the Filipinos's still alive and present up to this period.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** About Area Ends ***** -->
<!-- ***** Features Big Item Start ***** -->
<section class="section" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <img src="assets/images/features-icon-1.png" alt="">
                    </div>
                    <div class="features-content">
                        <h4>Community pantry: The power of an idea</h4>
                        <p>The community pantry came at a time when people were feeling depressed because the pandemic did not seem to be disappearing and there were even government reports that said millions had lost their jobs and billions of pesos had been lost due to economic lockdowns.

                            Then came a story, a ray of sunshine amidst the stories of gloom. A young woman, Ana Patricia Non, had set up a small stall on Maginhawa Street offering free food to anyone with one appeal – give what you can and take only what you need. It literally spread like wildfire, with so many following the example of that one story.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <img src="assets/images/features-icon-1.png" alt="">
                    </div>
                    <div class="features-content">
                        <h4>On community pantries</h4>
                        <p>Community pantries were all the talk across social media this week, with the Maginhawa Community Pantry being the first to generate media buzz. A community pantry is a service that provides food directly to locals suffering from food insecurity. Some rely purely on local donations. Some coordinate with food banks and organizations for steady supplies of food and essential goods. Some also organize other socio-civic activities for patrons. The community pantry is not a new idea, as many have been established elsewhere as an immediate, local response to hunger, but in the context of the pandemic and millions of food-insecure Filipinos, the idea has proven nothing short of revolutionary. In less than a week, the Maginhawa cart has served thousands of individuals and inspired many to help sustain the pantry.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <img src="assets/images/features-icon-1.png" alt="">
                    </div>
                    <div class="features-content">
                        <h4>Covid, hunger and the community pantry</h4>
                        <p>There is nothing that we can really do about it – I mean if we want to stop community pantries. But why should we even think that? We know there has been hunger out there all these decades, at least the last two when SWS started their quarterly hunger surveys. There were not just enough people who cared so we left it to the government, to the churches, to the NGOs to take care of a problem that is ours as well. The level of hunger in any society can attend to because it has the food or the resources to get food speaks volumes about what kind of society it is.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section" id="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-heading">
                    <h6>The Feeding of the Five Thousand</h6>
                    <h2>Luke 9:16</h2>
                </div>
                <div class="subscribe-content">
                    <p>They did so, and everyone was seated. 16 Taking the five loaves and the two fish and looking up to heaven, Jesus spoke a blessing and broke them. Then He gave them to the disciples to set before the people. 17They all ate and were satisfied, and the disciples picked up twelve basketfuls of broken pieces that were left over.…</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->