<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
  </div>  
  <!-- ***** Preloader End ***** -->
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                      <li class="scroll-to-section"><a mat-raised-button routerLink="/Home">Home</a></li>
                      <li class="scroll-to-section"><a mat-raised-button routerLink="/About">About</a></li>
                      <li class="scroll-to-section"><a mat-raised-button routerLink="/Project">Projects</a></li>
                      <li class="scroll-to-section"><a mat-raised-button routerLink="/Contact">Contact Us</a></li> 
                      
                  </ul>        
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->

<router-outlet></router-outlet>