<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
      <!-- Item -->
      <div class="item">
        <div class="img-fill">
            <img src="assets/images/cp1.jpg" alt="">
            <div class="text-content">
              <h3>Community Pantry</h3>
              <h5>Give according to ability get based on need</h5>
              <a mat-stroked-button routerLink="/Project">Learn More</a>
            </div>
        </div>
      </div>
      <!-- // Item -->
      
    </div>
  </div>
  <div class="scroll-down scroll-to-section"><a routerLink="/About"><i class="fa fa-arrow-down"></i></a></div>
  <!-- ***** Main Banner Area End ***** -->
